* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
}

div#content button#backToProjectsBtn {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 10px 4px;
}

div#content h1 {
	position: relative;
}

div#content h1 img#editTitleBtn {
	position: absolute;
	top: 10%;
	right: -35px;
	width: 25px;
	cursor: pointer;
	filter: invert(57%) sepia(0%) saturate(285%) hue-rotate(174deg) brightness(89%) contrast(95%);
}

div#content form#editProjectTitleForm {
	position: relative;
}

div#content form#editProjectTitleForm button#closeEditProjectTitleFormBtn {
	position: absolute;
	top: 37%;
	left: -45px;
}

div#content form#editProjectTitleForm input {
	margin: 21.44px 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

div#content form#editProjectTitleForm button#applyBtn {
	position: absolute;
	top: 30%;
	right: -35px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	background: url("./apply-icon.svg");
	/* filter: invert(22%) sepia(92%) saturate(4908%) hue-rotate(144deg) brightness(91%) contrast(90%); */
}

div#todoList ul,
div#projectList ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

div#todoList ul li div.todo-header,
div#projectList ul li {
	display: flex;
	gap: 5px;
}

div#todoList ul li.low-priority {
	background-color: #cef6cb;
}

div#todoList ul li.medium-priority {
	background-color: #faf1ba;
}

div#todoList ul li.high-priority {
	background-color: #fccda8;
}

div#todoList ul li.highest-priority {
	background-color: #ff9fbc;
}

div#todoList ul li,
div#projectList ul li {
	border: 1px solid #d6d9dc;
	width: 400px;
}

div#projectList ul li {
	justify-content: center;
	cursor: pointer;
}

div#todoList ul li h4,
div#todoList ul li p {
	margin: 0;
	overflow-wrap: break-word;
}

div#todoList ul li h4.todo-title {
	margin-right: auto;
}

div#todoList ul li h4.todo-due-date {
	flex-shrink: 0;
}

div#projectList h3 {
	margin: 0;
}

div#todoList ul li img.expand-details-btn {
	height: 22px;
	cursor: pointer;
	filter: invert(57%) sepia(0%) saturate(285%) hue-rotate(174deg) brightness(89%) contrast(95%);
}

div#todoList ul li button.todo-del-btn {
	color: red;
	font-weight: bold;
}

div#todoList ul li div.todo-details {
	padding: 5px 25px 20px 25px;
	position: relative;
}

div#todoList ul li div.todo-details button.edit-todo-btn {
	position: absolute;
	top: 4px;
	right: 45px;
}

div#todoList ul li h4.todo-priority {
	text-align: center;
}

form#addTodoForm,
form#addProjectForm,
form.todo-form {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

form.todo-form {
	padding: 40px 20px 10px 40px;
}

form#addTodoForm,
form#addProjectForm {
	padding: 50px 50px 30px 30px;
	margin: 0 0 20px 0;
	background-color: #f6f7f8;
	border: 1px solid #d6d9dc;
	border-radius: 3px;
}

form#addTodoForm button#closeTodoFormBtn,
form#addProjectForm button#closeProjectFormBtn,
form.todo-form button#closeEditTodoFormBtn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.form-row {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form-row label {
	text-align: right;
	width: 100px;
	padding-right: 20px;
}

.form-row input[type="text"],
.form-row input[type="number"],
.form-row input[type="date"],
.form-row select {
	background-color: #ffffff;
	border: 1px solid #d6d9dc;
	border-radius: 3px;
	padding: 7px;
	font-size: 14px;
}

.form-row button {
	margin-left: 100px;
}