* {
    box-sizing: border-box;
}

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
}

div#content {
    display: flex;
    flex-direction: column;
    align-items: center;
	position: relative;
}

div#content button#backToProjectsBtn {
	position: absolute;
	top: 5px;
	left: 5px;
	padding: 10px 4px;
}

div#content h1 {
	position: relative;
}

div#content h1 img#editTitleBtn {
	position: absolute;
	top: 5px;
	right: -35px;
	width: 25px;
	cursor: pointer;
	filter: invert(57%) sepia(0%) saturate(285%) hue-rotate(174deg) brightness(89%) contrast(95%);
}

div#content form#editProjectTitleForm {
	position: relative;
}

div#content form#editProjectTitleForm button#closeEditProjectTitleFormBtn {
	position: absolute;
	top: 32px;
	left: -45px;
}

div#content form#editProjectTitleForm input {
	margin: 21.44px 0px;
	font-size: 2em;
	font-weight: bold;
	text-align: center;
}

div#content form#editProjectTitleForm button#applyBtn {
	position: absolute;
	top: 25px;
	right: -35px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	border: none;
	background: url("./apply-icon.svg");
	/* filter: invert(22%) sepia(92%) saturate(4908%) hue-rotate(144deg) brightness(91%) contrast(90%); */
}

div#todoList ul,
div#projectList ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
	display: flex;
	flex-direction: column;
}

div#todoList ul li,
div#projectList ul li {
	display: flex;
	width: 400px;
	border: 1px solid #d6d9dc;
	gap: 5px;
}

div#projectList ul li {
	justify-content: center;
	cursor: pointer;
}

div#todoList ul li p {
	margin: 0;
	margin-right: auto;
}

div#projectList h3 {
	margin: 0;
}

div#todoList ul li button.todo-del-btn {
	color: red;
	font-weight: bold;
}

form#addTodoForm,
form#addProjectForm {
	background-color: #f6f7f8;
	border: 1px solid #d6d9dc;
	border-radius: 3px;

	padding: 50px 50px 30px 30px;
	margin: 0 0 20px 0;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	position: relative;
}

form#addTodoForm button#closeTodoFormBtn,
form#addProjectForm button#closeProjectFormBtn {
	position: absolute;
	top: 5px;
	right: 5px;
}

.form-row {
	margin-bottom: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.form-row label {
	text-align: right;
	width: 100px;
	padding-right: 20px;
}

.form-row input[type="text"],
.form-row input[type="number"] {
	background-color: #ffffff;
	border: 1px solid #d6d9dc;
	border-radius: 3px;
	padding: 7px;
	font-size: 14px;
}

.form-row button {
	margin-left: 100px;
}